body {
    background-color: black;
    
  }
  img {
    border: 5px solid red;
  }

  video {
    display: block;
    margin: auto;
    border: 5px solid red;
  }

  img {
    display: block;
    margin: auto;
  }